@model WhatColor.ViewModels.WhatColorViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        On WhatColor you can paste an image (or image url)
        and will receive the average color of that image along with extra information.
    </p>
    <form asp-controller="Color" asp-action="Search" method="get">
        <div class="form-actions no-color">
            Search color:
            <input asp-for="ColorSearch" />
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.Colors[0].ColorID)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.Colors[0].Name)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.Colors[0].HEX)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.Colors[0].CMYK)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.Colors[0].RGB)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.Colors[0].TrendingUrl)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.Colors[0].ComplementaryHex)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Colors)
        {
<tr>
    <td class="col-md-4">
        @item.ColorID
    </td>
    <td class="col-md-4">
        @item.Name
    </td>
    <td class="col-md-4">
        @item.HEX
    </td>
    <td class="col-md-4">
        @item.CMYK
    </td>
    <td class="col-md-4">
        @item.RGB
    </td>
    <td class="col-md-4">
        @item.TrendingUrl
    </td>
    <td class="col-md-4">
        @item.ComplementaryHex
    </td>
</tr>}
    </tbody>
</table>