@model WhatColor.ViewModels.ColorViewModel

@{ ViewData["Title"] = "Color Search"; }

<h2>Color</h2>

<table>
    <thead>
        <tr>
            <th class="col-md-4">
                &nbsp;
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.Colors[0].Name)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.Colors[0].HEX)
            </th>
            <th class="col-md-4">
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Colors)
        {
<tr>
    <td class="col-md-4">
        <div a style="background-color: #@item.HEX; height: 50px; width: 150px;" />
    </td>
    <td class="col-md-4">
        <a asp-action="ColorDetail" asp-route-id="@item.ColorID">@item.Name</a>
    </td>
    <td class="col-md-4">
        <a asp-action="ColorDetail" asp-route-id="@item.ColorID">@item.HEX</a>
    </td>
    <td class="col-md-4">
        <a asp-action="Delete" asp-route-id="@item.ColorID">Delete</a>
    </td>
</tr>
}
    </tbody>
</table>

@Html.ActionLink("Back", "Color", "Color")